:root {
    --font-mono: ul-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", 
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-image: url('https://i.pinimg.com/564x/7f/dc/e3/7fdce31146f651d1ee793107e1fefb0a.jpg');
    background-position: center; 
    color: rgb(14, 13, 13); 
    font-family: var(--font-mono);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2cm;
    background-color: aliceblue;
    border-radius: 10px;
    border: 10px solid black; 
    max-width: 90%; 
    margin: 0 auto; 
}

section form input{
    border: none;
    padding: 0.8cm;
    margin-bottom: 1cm;
    outline-color: rgba(11, 98, 170, 0.774);
}

section form input[type="submit"]{
    margin-top: 1.5cm;
    background-color: midnightblue;
    color: aliceblue;
    display: inline-block;
    font-family: var(--font-mono);
    transition: var(--transition);
}

section form input[type="submit"]{
    transform: scale(0.97);
}

section p{
    margin-top: 1cm;
    font-family: var(--font-mono);
}

section p a{
    text-decoration: none;
    color: blue;
}